<!-- app/views/layouts/_navbar.html.erb -->
<nav class="bg-gray-800 text-white p-4">
  <div class="container mx-auto flex justify-between items-center">
    <%= link_to 'Home', root_path, class: 'text-lg font-bold' %>
    <div>
      <% if user_signed_in? %>
        <%= link_to 'Profile', user_profile_path, class: 'mr-4' %>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'mr-4' %>
      <% else %>
        <%= link_to 'Login', new_user_session_path, class: 'mr-4' %>
        <%= link_to 'Register', new_user_registration_path %>
      <% end %>
      <button onclick="toggleDarkMode()" class="p-2">
        <span id="sunIcon" class="<%= 'hidden' if cookies[:dark_mode] == 'true' %>">
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 3v1m4.22 1.02l.63.63M21 12h-1M6.343 6.343l-.707-.707m14.85 6.364l.707-.707M12 21v-1m-4.22-1.02l-.63-.63M3 12h1m5.657 5.657l.707.707m-6.364-14.85l-.707.707M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path></svg>
        </span>
        <span id="moonIcon" class="<%= 'hidden' unless cookies[:dark_mode] == 'true' %>">
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12.79a9 9 0 11-11.21-11.21A7.5 7.5 0 0021 12.79z"></path></svg>
        </span>
      </button>
    </div>
  </div>
</nav>
